org.jrebirth.demo.devcockpit/jenkins/model/src/main/resources/main.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="hudson" type="Hudson"/>
  <xsd:complexType name="Hudson">
    <xsd:complexContent>
      <xsd:extension base="Jenkins">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Jenkins">
    <xsd:complexContent>
      <xsd:extension base="AbstractCIBase">
        <xsd:sequence>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="job" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="overallLoad" type="OverallLoadStatistics" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> Load statistics of the entire system.

 This includes every executor and every job in the system.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="primaryView" type="View" minOccurs="0"/>
          <xsd:element name="quietingDown" type="xsd:boolean"/>
          <xsd:element name="slaveAgentPort" type="xsd:int"/>
          <xsd:element name="unlabeledLoad" type="LoadStatistics" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> Load statistics of the free roaming jobs and slaves.

 This includes all executors on {@link Node.Mode#NORMAL} nodes and jobs that do not have any assigned nodes.

 @since 1.467
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="useCrumbs" type="xsd:boolean"/>
          <xsd:element name="useSecurity" type="xsd:boolean"/>
          <xsd:element name="view" type="View" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LoadStatistics">
    <xsd:sequence>
      <xsd:element name="availableExecutors" type="MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors not executing and available to take work and how it changes over time.
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="busyExecutors" type="MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of busy executors and how it changes over time.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="connectingExecutors" type="MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors in the process of coming on-line and how it changes over time.
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="definedExecutors" type="MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors defined for Jenkins and how it changes over time.
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="idleExecutors" type="MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors not executing and how it changes over time. Note the these executors may not be able to
 take work, see {@link #availableExecutors}.
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="onlineExecutors" type="MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of executors on-line and how it changes over time. Replaces {@link #totalExecutors}
 @since 1.607
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="queueLength" type="MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of {@link Queue.BuildableItem}s that can run on any node in this node set but blocked.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="totalExecutors" type="MultiStageTimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Number of total executors and how it changes over time.
 @deprecated use {@link #onlineExecutors}. Note {@code totalExecutors==onlineExecutors} for backward
 compatibility support.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MultiStageTimeSeries">
    <xsd:sequence>
      <xsd:element name="hour" type="TimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Updated every 1 hour. Keep data up to 4 weeks.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="min" type="TimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Updated every 1 min. Keep data up to 1 day.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="sec10" type="TimeSeries" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Updated every 10 seconds. Keep data up to 1 hour.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeSeries">
    <xsd:sequence>
      <xsd:element name="history" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="latest" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="View">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="job" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="name" type="xsd:string" minOccurs="0"/>
      <xsd:element name="property" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="url" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OverallLoadStatistics">
    <xsd:complexContent>
      <xsd:extension base="LoadStatistics">
        <xsd:sequence>
          <xsd:element name="totalQueueLength" type="MultiStageTimeSeries" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> Number of total {@link Queue.BuildableItem}s that represents blocked builds.

 @deprecated as of 1.467
      Use {@link #queueLength}. Left as an alias here for backward compatibility.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AbstractCIBase">
    <xsd:complexContent>
      <xsd:extension base="Node">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Node">
    <xsd:sequence>
      <xsd:element name="assignedLabel" type="labels.LabelAtom" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="mode" type="Node-Mode" minOccurs="0"/>
      <xsd:element name="nodeDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nodeName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numExecutors" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="labels.LabelAtom">
    <xsd:complexContent>
      <xsd:extension base="Label">
        <xsd:sequence>
          <xsd:element name="propertiesList" type="labels.LabelAtomProperty" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="labels.LabelAtomProperty">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="Label">
    <xsd:complexContent>
      <xsd:extension base="Actionable">
        <xsd:sequence>
          <xsd:element name="busyExecutors" type="xsd:int"/>
          <xsd:element name="cloud" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="idleExecutors" type="xsd:int"/>
          <xsd:element name="loadStatistics" type="LoadStatistics" minOccurs="0"/>
          <xsd:element name="name" type="xsd:string" minOccurs="0"/>
          <xsd:element name="node" type="Node" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="offline" type="xsd:boolean"/>
          <xsd:element name="tiedJob" type="AbstractProject" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="totalExecutors" type="xsd:int"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AbstractProject">
    <xsd:complexContent>
      <xsd:extension base="Job">
        <xsd:sequence>
          <xsd:element name="concurrentBuild" type="xsd:boolean"/>
          <xsd:element name="downstreamProject" type="AbstractProject" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="scm" type="hudson.scm.SCM" minOccurs="0"/>
          <xsd:element name="upstreamProject" type="AbstractProject" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hudson.scm.SCM">
    <xsd:sequence>
      <xsd:element name="browser" type="hudson.scm.RepositoryBrowser" minOccurs="0"/>
      <xsd:element name="type" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="hudson.scm.RepositoryBrowser">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="Job">
    <xsd:complexContent>
      <xsd:extension base="AbstractItem">
        <xsd:sequence>
          <xsd:element name="allBuild" type="Run" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="buildable" type="xsd:boolean"/>
          <xsd:element name="build" type="Run" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="color" type="BallColor" minOccurs="0"/>
          <xsd:element name="firstBuild" type="Run" minOccurs="0"/>
          <xsd:element name="healthReport" type="HealthReport" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="inQueue" type="xsd:boolean"/>
          <xsd:element name="keepDependencies" type="xsd:boolean"/>
          <xsd:element name="lastBuild" type="Run" minOccurs="0"/>
          <xsd:element name="lastCompletedBuild" type="Run" minOccurs="0"/>
          <xsd:element name="lastFailedBuild" type="Run" minOccurs="0"/>
          <xsd:element name="lastStableBuild" type="Run" minOccurs="0"/>
          <xsd:element name="lastSuccessfulBuild" type="Run" minOccurs="0"/>
          <xsd:element name="lastUnstableBuild" type="Run" minOccurs="0"/>
          <xsd:element name="lastUnsuccessfulBuild" type="Run" minOccurs="0"/>
          <xsd:element name="nextBuildNumber" type="xsd:int"/>
          <xsd:element name="property" type="JobProperty" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="queueItem" type="Queue-Item" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Queue-Item">
    <xsd:complexContent>
      <xsd:extension base="Actionable">
        <xsd:sequence>
          <xsd:element name="blocked" type="xsd:boolean"/>
          <xsd:element name="buildable" type="xsd:boolean"/>
          <xsd:element name="id" type="xsd:long"/>
          <xsd:element name="inQueueSince" type="xsd:long"/>
          <xsd:element name="params" type="xsd:string" minOccurs="0"/>
          <xsd:element name="stuck" type="xsd:boolean"/>
          <xsd:element name="task" type="xsd:anyType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation> Project to be built.
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="url" type="xsd:string" minOccurs="0"/>
          <xsd:element name="why" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JobProperty">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="HealthReport">
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0"/>
      <xsd:element name="iconClassName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="iconUrl" type="xsd:string" minOccurs="0"/>
      <xsd:element name="score" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Run">
    <xsd:complexContent>
      <xsd:extension base="Actionable">
        <xsd:sequence>
          <xsd:element name="artifact" type="Run-Artifact" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="building" type="xsd:boolean"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="duration" type="xsd:long"/>
          <xsd:element name="estimatedDuration" type="xsd:long"/>
          <xsd:element name="executor" type="Executor" minOccurs="0"/>
          <xsd:element name="fullDisplayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="id" type="xsd:string" minOccurs="0"/>
          <xsd:element name="keepLog" type="xsd:boolean"/>
          <xsd:element name="number" type="xsd:int"/>
          <xsd:element name="queueId" type="xsd:long"/>
          <xsd:element name="result" type="xsd:anyType" minOccurs="0"/>
          <xsd:element name="timestamp" type="xsd:long" minOccurs="0"/>
          <xsd:element name="url" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Executor">
    <xsd:sequence>
      <xsd:element name="currentExecutable" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="currentWorkUnit" type="queue.WorkUnit" minOccurs="0"/>
      <xsd:element name="idle" type="xsd:boolean"/>
      <xsd:element name="likelyStuck" type="xsd:boolean"/>
      <xsd:element name="number" type="xsd:int"/>
      <xsd:element name="progress" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="queue.WorkUnit">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="Run-Artifact">
    <xsd:sequence>
      <xsd:element name="displayPath" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="relativePath" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation> Relative path name from artifacts root.
</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AbstractItem">
    <xsd:complexContent>
      <xsd:extension base="Actionable">
        <xsd:sequence>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="displayNameOrNull" type="xsd:string" minOccurs="0"/>
          <xsd:element name="name" type="xsd:string" minOccurs="0"/>
          <xsd:element name="url" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Actionable">
    <xsd:sequence>
      <xsd:element name="action" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Node-Mode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NORMAL"/>
      <xsd:enumeration value="EXCLUSIVE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BallColor">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="red"/>
      <xsd:enumeration value="red_anime"/>
      <xsd:enumeration value="yellow"/>
      <xsd:enumeration value="yellow_anime"/>
      <xsd:enumeration value="blue"/>
      <xsd:enumeration value="blue_anime"/>
      <xsd:enumeration value="grey"/>
      <xsd:enumeration value="grey_anime"/>
      <xsd:enumeration value="disabled"/>
      <xsd:enumeration value="disabled_anime"/>
      <xsd:enumeration value="aborted"/>
      <xsd:enumeration value="aborted_anime"/>
      <xsd:enumeration value="notbuilt"/>
      <xsd:enumeration value="notbuilt_anime"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>

